# Data Science Tools And Ecosystem

**Objectives** 
- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create and format tables in Markdown

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy  
2. Pandas  
3. Scikit-learn

|Data Science Tools|
|--------------------|
|Jupyter Notebook  |
|RStudio           |
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60

(200/60)

3.3333333333333335

## Author
Clement Grossman